<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Social - Network, Community and Event Theme</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Bootstrap 5 based Social Media Network and Community Theme">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">

  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/OverlayScrollbars-master/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/tiny-slider/dist/tiny-slider.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/choices.js/public/assets/styles/choices.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/vendor/glightbox-master/dist/css/glightbox.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/dropzone/dist/dropzone.css" />
  <link rel="stylesheet" type="text/css" href="/assets/vendor/flatpickr/dist/flatpickr.css" />
  <link rel="stylesheet" type="text/css" href="/assets/vendor/plyr/plyr.css" />

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

</head>
<body>

<!-- =======================
Header START -->
<header class="navbar-light fixed-top header-static bg-mode">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="/">
				<img class="light-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
			</a>
			<!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

			<!-- Main navbar START -->
			<div class="collapse navbar-collapse" id="navbarCollapse">


				<ul class="navbar-nav navbar-nav-scroll ms-auto">

					<!-- Nav item 4 Mega menu -->
					<li class="nav-item">
						<a class="nav-link" href="/OS">OS</a>
					</li>
          <!-- Nav item 4 Mega menu -->
					<li class="nav-item">
						<a class="nav-link" href="/Guia">Guia</a>
					</li>
				</ul>
			</div>
			<!-- Main navbar END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
  
  <!-- Container START -->
  <div class="container">
    <div class="row g-4">

      <!-- Sidenav START -->
      <div class="col-lg-3">

        <!-- Advanced filter responsive toggler START -->
        <div class="d-flex align-items-center d-lg-none">
          <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
            <i class="btn btn-primary fw-bold fa-solid fa-sliders-h"></i>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
          </button>
        </div>
        <!-- Advanced filter responsive toggler END -->
        
        <!-- Navbar START-->
        <nav class="navbar navbar-expand-lg mx-0"> 
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
            <!-- Offcanvas header -->
            <div class="offcanvas-header">
              <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <!-- Offcanvas body -->
            <div class="offcanvas-body d-block px-2 px-lg-0">
              <!-- Card START -->
              <div class="card overflow-hidden">
                <!-- Cover image -->
                <div class="h-50px" style="background-image:url(/assets/images/bg/01.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                  <!-- Card body START -->
                  <div class="card-body pt-3">
                    <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
                      
                      <li class="nav-item">
                        <a class="nav-link" href="/OS"> <img class="me-2 h-20px fa-fw" src="/assets/images/icon/calendar-outline-filled.svg" alt=""><span>OS </span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/OS"> <img class="me-2 h-20px fa-fw" src="/assets/images/icon/chat-outline-filled.svg" alt=""><span>Guia </span></a>
                      </li>
                      
                    </ul>
                    <!-- Side Nav END -->
                  </div>
                  <!-- Card body END -->
              </div>
              <!-- Card END -->

              <!-- Copyright -->
              <p class="small text-center mt-1">©2022 <a class="text-body" target="_blank" href="https://www.webestica.com/"> Webestica </a></p>
            </div>
          </div>
        </nav>
        <!-- Navbar END-->
      </div>
      <!-- Sidenav END -->

      <!-- Main content START -->
      <div class="col-md-8 col-lg-6 vstack gap-4">
        

        <!-- Card feed item START -->
        <div class="card">

          <!-- Card body START -->
          <div class="card-body">
            {{{body}}}
          </div>
          <!-- Card body END -->
        </div>
        <!-- Card feed item END -->


      </div>
      <!-- Main content END -->



    </div> <!-- Row END -->
  </div>
  <!-- Container END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->



<!-- =======================
JS libraries, plugins and custom scripts -->

	<!-- Bootstrap JS -->
	<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Vendors -->
	<script src="/assets/vendor/tiny-slider/dist/tiny-slider.js"></script>
	<script src="/assets/vendor/OverlayScrollbars-master/js/OverlayScrollbars.min.js"></script>
	<script src="/assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
	<script src="/assets/vendor/glightbox-master/dist/js/glightbox.min.js"></script>
	<script src="/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
	<script src="/assets/vendor/plyr/plyr.js"></script>
	<script src="/assets/vendor/dropzone/dist/min/dropzone.min.js"></script>

	<!-- Template Functions -->
	<script src="/assets/js/functions.js"></script>

</body>
</html>