<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Social - Network, Community and Event Theme</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Bootstrap 5 based Social Media Network and Community Theme">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  
  <title>Documentação - Painel Fiscal</title>
</head>
<body>
  {{{body}}}
</body>
</html>